DARWIN_*_DBG
LINUX_*_DBG
CYGWIN64_*_DBG
obj
st.pc
.idea

gtest*
googletest-*
*.gcda
*.gcno
coverage
codecov
*.dSYM

srs
cmake-build-debug
/ide/st_clion/CMakeCache.txt
/ide/st_clion/CMakeFiles
/ide/st_clion/Makefile
/ide/st_clion/cmake_install.cmake
/ide/st_clion/st
/ide/st_clion/Testing/
.DS_Store

